# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
.npm/
*.local

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DB
*.db
*.db-journal

# Env
.env
.env.local
*.log
/backend/uploads/resumes
/backend/uploads
backend/LLM.txt
